In [10]:
from datetime import datetime
import pandas as pd
import dask.dataframe as dd
from dask.diagnostics import ProgressBar
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
from dateutil.parser import parse
from sklearn.metrics import silhouette_score

ProgressBar().register()

In [11]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.decomposition import KernelPCA
from sklearn.cluster import KMeans

In [14]:
taxi_zones = gpd.read_file('data/taxi_zones__7_/taxi_zones.shp')

In [15]:
taxi_zones

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,geometry
0,1,0.116357,0.000782,Newark Airport,1,EWR,"POLYGON ((933100.918 192536.086, 933091.011 19..."
1,2,0.433470,0.004866,Jamaica Bay,2,Queens,"MULTIPOLYGON (((1033269.244 172126.008, 103343..."
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx,"POLYGON ((1026308.770 256767.698, 1026495.593 ..."
3,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.467 203714.076, 992068.667 20..."
4,5,0.092146,0.000498,Arden Heights,5,Staten Island,"POLYGON ((935843.310 144283.336, 936046.565 14..."
...,...,...,...,...,...,...,...
258,259,0.126750,0.000395,Woodlawn/Wakefield,259,Bronx,"POLYGON ((1025414.782 270986.139, 1025138.624 ..."
259,260,0.133514,0.000422,Woodside,260,Queens,"POLYGON ((1011466.966 216463.005, 1011545.889 ..."
260,261,0.027120,0.000034,World Trade Center,261,Manhattan,"POLYGON ((980555.204 196138.486, 980570.792 19..."
261,262,0.049064,0.000122,Yorkville East,262,Manhattan,"MULTIPOLYGON (((999804.795 224498.527, 999824...."
262,263,0.037017,0.000066,Yorkville West,263,Manhattan,"POLYGON ((997493.323 220912.386, 997355.264 22..."

# ACS and subway ridership data

In [59]:
# Import pct_change in subway ridership from May through August between 2019 and 2020

subway = pd.read_csv('MLC_data-main 3/data/ridership_by_taxizone/ridership_by_taxizone.csv')
subway = subway.drop(columns=['Unnamed: 0', '2019_entries', '2019_exits','2020_entries','2020_exits'])
subway['mean_pct_change'] = (subway['entries__pct_change'] + subway['exits_pct_change']) / 2

In [60]:
subway['subway'] = 1
subway['subway'] = subway['subway'].mask(subway.isna().any(axis=1), 0)
subway = subway.drop(columns=['entries__pct_change','exits_pct_change','mean_pct_change'])

In [16]:
# Import 2019 ACS variables for census_tracts and taxi

acs = pd.read_csv('MLC_data-main 3/data/census_zones/census_zones.csv')

In [27]:
# select relevant variables from ACS table

acs_var_names = {'healthcare':'SE_B17008_004','food_service':'SE_B17008_006','maintenance':'SE_B17008_007',\
                 'retail_sales':'SE_B17008_009', 'race_white':'SE_A03001_002', 'hh_median_income':'SE_A14006_001',\
                 'transit_commute':'SE_A09005_003','transit_12_5':'ACS19_5yr_B08132047','transit_60min+':'ACS19_5yr_B08134070'}

acs_var_names = {v: k for k, v in acs_var_names.items()}

acs_vars = [s.strip() for s in list(acs_var_names.keys())]

In [18]:
acs_vars = pd.DataFrame.from_dict(acs_var_names, orient='index', columns=['Variable'])
acs_vars.style.set_caption('American Community Survey Variables')

In [29]:
zone_acs1 = acs[['LocationID'] + acs_vars].groupby('LocationID').sum().drop(columns='SE_A14006_001')
zone_acs2 = acs[['LocationID','SE_A14006_001']].groupby('LocationID').mean()
zone_acs = zone_acs1.merge(zone_acs2, on='LocationID').fillna(0)
zone_acs.drop(columns='Unnamed: 0')

KeyError: "['Unnamed: 0'] not found in axis"

In [31]:
zone_acs.columns = [acs_var_names[x] for x in zone_acs.columns]

In [32]:
zone_acs['essential_workers'] = zone_acs.iloc[:,:4].sum(axis=1)

In [33]:
zone_acs = zone_acs.reset_index().drop(columns=['healthcare','food_service','maintenance','retail_sales'])

In [34]:
zone_acs = zone_acs.iloc[1:].reset_index(drop=True)

In [35]:
scaler = StandardScaler()
scaled_acs = scaler.fit_transform(zone_acs.iloc[:,1:])

In [36]:
scaled_acs

array([[-0.38213346, -0.40778436, -0.13403232,  0.2479907 ,  0.09056315,
        -0.23237315],
       [-0.3092298 , -0.19485361, -0.27737052, -0.64787868, -0.60345385,
        -0.32133768],
       [ 0.85407319, -0.82856973, -0.74321966, -0.28946374,  0.37816549,
        -0.48260448],
       ...,
       [-0.87651903, -0.92194401, -0.73605275, -1.01066043,  2.19846468,
        -1.07708986],
       [ 1.21276569,  0.62921781, -0.43504254, -0.67441549,  0.88918564,
        -0.27789681],
       [ 1.68328158,  1.50939394, -0.68230092, -0.51754597,  0.96247209,
         0.02767701]])

# ACS Principal Component Analysis

In [37]:
#perform PC decomposition over Scaled ACS
pca = PCA(1)
p_acs =pca.fit_transform(scaled_acs)
eigenvalues = pca.explained_variance_ratio_

array([[-3.57534848e-01],
       [-7.03560401e-01],
       [-9.48264623e-01],
       [-1.38546338e+00],
       [ 4.25510158e+00],
       [-2.14719331e+00],
       [-1.29749339e+00],
       [ 2.90097896e-01],
       [ 2.81555337e-01],
       [-2.14719331e+00],
       [-1.84268811e+00],
       [ 3.63610330e+00],
       [-1.26787111e+00],
       [-1.78558505e-03],
       [ 2.57200292e+00],
       [ 3.28917722e+00],
       [-9.64353611e-01],
       [-2.88137823e-01],
       [ 3.09109501e+00],
       [ 4.83196997e+00],
       [-2.24214286e-01],
       [-1.34340853e+00],
       [-8.93023685e-01],
       [ 2.33894604e+00],
       [-2.29930036e+00],
       [ 1.09785421e+00],
       [ 4.73938410e-01],
       [-2.22188582e+00],
       [-2.14656272e+00],
       [ 1.12414964e+00],
       [-1.15749693e+00],
       [-2.43454516e+00],
       [ 1.29362477e+00],
       [ 2.22021417e+00],
       [ 3.99469725e+00],
       [-1.09081251e+00],
       [ 5.59488223e+00],
       [-1.45017025e+00],
       [ 1.09749840e+00],
       [ 3.42138144e+00],
       [-2.14717316e+00],
       [-1.18446157e+00],
       [-1.37865097e+00],
       [-2.08298059e+00],
       [ 3.54607269e-01],
       [-2.01817600e-01],
       [-4.04625346e-02],
       [-1.35974643e+00],
       [ 1.31577046e+00],
       [-1.96600556e+00],
       [-8.25967758e-01],
       [-2.22441336e+00],
       [ 8.74921795e-01],
       [ 3.22595161e+00],
       [-1.91072029e+00],
       [-2.14719331e+00],
       [-3.42000411e-01],
       [ 6.79570005e+00],
       [ 7.00293328e-01],
       [ 1.55094605e+00],
       [-1.09080436e+00],
       [-1.78400437e+00],
       [-1.92695445e+00],
       [ 5.14996250e-01],
       [-5.59471789e-01],
       [ 3.20085448e+00],
       [-1.10187579e+00],
       [ 2.42628658e+00],
       [ 2.82043689e+00],
       [-7.52685558e-01],
       [ 1.18854579e+00],
       [ 1.15071415e+00],
       [ 4.55103463e+00],
       [ 3.38762990e-02],
       [ 1.14256823e+00],
       [ 1.51252218e-01],
       [ 6.15891871e-01],
       [ 6.78527288e-01],
       [ 4.79931635e+00],
       [-4.11341864e-01],
       [-6.90588872e-01],
       [ 2.33130298e-01],
       [ 9.80989744e-01],
       [-1.50800828e+00],
       [-2.58260343e+00],
       [ 6.31807761e+00],
       [-1.16245560e+00],
       [ 3.10572561e+00],
       [ 1.71802494e+00],
       [-2.14719331e+00],
       [ 2.50575012e-01],
       [ 3.57321408e+00],
       [-2.14701201e+00],
       [-3.04245850e-01],
       [-1.08068337e+00],
       [-2.14608066e+00],
       [-2.48153987e+00],
       [-1.20113209e+00],
       [ 2.04312306e-01],
       [-2.14719331e+00],
       [-1.95469691e+00],
       [-9.94344150e-01],
       [-1.25046712e-01],
       [ 3.52371438e-02],
       [-2.14719331e+00],
       [-2.14719331e+00],
       [ 1.65995521e-01],
       [-1.57400269e+00],
       [-1.86842124e+00],
       [-7.09988735e-01],
       [ 2.29990356e+00],
       [ 5.82913720e-01],
       [-6.63120713e-01],
       [ 6.58521395e-01],
       [-2.14719331e+00],
       [ 1.30963299e-01],
       [-7.16625330e-01],
       [ 9.32253521e-01],
       [-4.23072162e-01],
       [-2.41985855e+00],
       [-5.19548957e-01],
       [ 1.49013477e+00],
       [-2.14711273e+00],
       [ 6.00186625e+00],
       [ 3.58904501e+00],
       [-6.19440578e-01],
       [-2.14719331e+00],
       [ 1.46407953e-02],
       [-6.19840649e-01],
       [ 2.04699775e-02],
       [ 8.25234847e-01],
       [-1.21475213e+00],
       [-2.14719331e+00],
       [-6.98192496e-01],
       [-8.99739486e-01],
       [-2.35948267e-01],
       [-8.27999664e-01],
       [-6.12852799e-01],
       [-1.38311624e+00],
       [-1.17962735e+00],
       [-1.71318142e+00],
       [-2.10119851e-02],
       [-1.10009762e+00],
       [ 7.18432968e-01],
       [-1.71516891e+00],
       [-3.53780096e-01],
       [-3.55990392e-01],
       [-1.58219609e+00],
       [-2.14703215e+00],
       [ 1.56849408e-01],
       [-3.99034498e-01],
       [ 4.69898283e-02],
       [-2.03602891e+00],
       [ 1.17668107e+00],
       [ 6.82431715e-01],
       [-2.43618742e+00],
       [-2.25899793e+00],
       [-2.18352236e+00],
       [-2.09644220e+00],
       [ 1.22590671e+00],
       [-7.54758510e-01],
       [ 7.09829791e-01],
       [ 2.22612229e+00],
       [ 2.15953377e+00],
       [-9.21305529e-01],
       [ 4.51451428e-01],
       [-1.07222493e+00],
       [ 3.44928807e+00],
       [ 1.53950517e+00],
       [-6.78159868e-01],
       [-1.12783459e+00],
       [ 3.69336844e-01],
       [-1.20722894e+00],
       [-6.01470153e-01],
       [-4.33966239e-01],
       [ 1.92598392e+00],
       [ 1.17283889e+00],
       [-1.11088833e+00],
       [-2.14711273e+00],
       [ 3.72293594e-01],
       [-2.26721983e+00],
       [-1.28488258e+00],
       [ 3.80976981e+00],
       [-1.00472361e+00],
       [-2.14719331e+00],
       [ 1.87062347e+00],
       [-1.00400013e+00],
       [-1.52668087e+00],
       [-2.07355028e+00],
       [-1.62040894e+00],
       [-2.66616254e-01],
       [ 3.05387328e+00],
       [ 4.13640872e+00],
       [-2.10221030e+00],
       [-7.06814542e-01],
       [-1.14034477e+00],
       [-1.86075678e+00],
       [-6.85878864e-01],
       [-1.01293055e+00],
       [ 1.68500032e+00],
       [-1.37996421e-01],
       [-2.14719331e+00],
       [ 5.88823930e-01],
       [-2.05583209e+00],
       [ 2.08613134e+00],
       [-2.03535508e+00],
       [ 8.66986371e-01],
       [ 1.46977102e+00],
       [-4.09293972e-01],
       [ 1.32321934e+00],
       [ 4.04914816e+00],
       [-1.11315165e+00],
       [-8.49728120e-01],
       [-9.20088312e-01],
       [-3.35144216e-02],
       [-5.29042529e-01],
       [-1.40603325e+00],
       [ 1.46472232e+00],
       [-8.82646442e-01],
       [ 2.95741261e+00],
       [ 1.54798889e+00],
       [ 2.74111758e+00],
       [ 1.51215336e+00],
       [-1.11338489e+00],
       [-2.01016045e+00],
       [-1.41842673e+00],
       [ 5.57931643e-02],
       [-1.37023339e+00],
       [-1.60501489e+00],
       [ 1.93080874e+00],
       [-6.21549381e-01],
       [-1.84993018e+00],
       [ 7.49022965e-01],
       [ 3.67183055e-02],
       [-2.18834378e+00],
       [ 2.50434933e+00],
       [ 2.05188187e-01],
       [ 3.05175091e+00],
       [ 5.01284315e+00],
       [-1.12032610e+00],
       [-1.86910427e+00],
       [ 9.48625364e-01],
       [ 1.09770006e+00],
       [-1.03232116e+00],
       [-1.78337831e-02],
       [-1.10283457e+00],
       [-6.08735632e-01],
       [-2.14719331e+00],
       [ 3.22320199e+00],
       [-7.76359473e-01],
       [-1.05760998e-01],
       [-8.44032693e-01],
       [ 3.51119116e+00],
       [ 1.17680259e+00],
       [ 1.06268691e+00],
       [-2.27947914e+00],
       [-1.66942433e-01],
       [ 4.78099865e-01]])

In [38]:
P_acs = pd.DataFrame(zone_acs['LocationID']).join(pd.DataFrame(p_acs)).rename(columns={0:'PCA'})

In [39]:
P_acs.to_csv('FHV_ACS_principal_component.csv', index=False)

In [ ]:
subway = pd.read_csv('data/ridership_by_taxizone.csv')

In [ ]:
subway['subway'] = 1
subway['subway'] = subway['subway'].mask(subway.isna().any(axis=1), 0)

In [ ]:
bus_stops = pd.read_csv('data/FHV_bus_stops.csv')

In [ ]:
zone_acs = zone_acs.merge(subway[['LocationID','subway']], on='LocationID', how='left' )\
    .merge(bus_stops, on='LocationID', how='left')

In [50]:
scaler = StandardScaler()
scaled_acs = scaler.fit_transform(zone_acs.iloc[:,1:-2])

ValueError: Found array with 0 sample(s) (shape=(0, 772)) while a minimum of 1 is required by StandardScaler.

In [327]:
scaled_acs = pd.DataFrame(zone_acs['LocationID']).join(pd.DataFrame(scaled_acs))

In [330]:
scaled_acs = scaled_acs.merge(subway[['LocationID','subway']], on='LocationID', how='left' )\
    .merge(bus_stops, on='LocationID', how='left')

In [ ]:
scaled_acs

# ACS Clustering

In [332]:
for n_clusters in range(2,25):
    km = KMeans(random_state=1234 ,n_clusters=n_clusters)
    res= km.fit((scaled_acs))   
    cluster_labels = res.labels_
    silhouette_avg = silhouette_score(scaled_acs, cluster_labels)
    print("For n_clusters = {},".format(n_clusters)+" the average silhouette_score is : {}".format(silhouette_avg))

For n_clusters = 2, the average silhouette_score is : 0.6216196502210057
For n_clusters = 3, the average silhouette_score is : 0.5808646041018086
For n_clusters = 4, the average silhouette_score is : 0.5553592520671685
For n_clusters = 5, the average silhouette_score is : 0.5463160888480089
For n_clusters = 6, the average silhouette_score is : 0.5291211701722299
For n_clusters = 7, the average silhouette_score is : 0.5186346375944999
For n_clusters = 8, the average silhouette_score is : 0.5078956991597525
For n_clusters = 9, the average silhouette_score is : 0.49428666420919665
For n_clusters = 10, the average silhouette_score is : 0.4902514213834217
For n_clusters = 11, the average silhouette_score is : 0.48296091881852415
For n_clusters = 12, the average silhouette_score is : 0.4735066442018822
For n_clusters = 13, the average silhouette_score is : 0.4638108848099379
For n_clusters = 14, the average silhouette_score is : 0.45444329007663514
For n_clusters = 15, the average silhouette_score is : 0.4473375842598599
For n_clusters = 16, the average silhouette_score is : 0.4405288175516905
For n_clusters = 17, the average silhouette_score is : 0.43226425761995707
For n_clusters = 18, the average silhouette_score is : 0.42244620850306863
For n_clusters = 19, the average silhouette_score is : 0.410996032190422
For n_clusters = 20, the average silhouette_score is : 0.4096827286838365
For n_clusters = 21, the average silhouette_score is : 0.40522240740830867
For n_clusters = 22, the average silhouette_score is : 0.3996992686912334
For n_clusters = 23, the average silhouette_score is : 0.38938323095781097
For n_clusters = 24, the average silhouette_score is : 0.38120289139363545

In [ ]:
zone_acs.style.set_caption('')

In [344]:
km = KMeans(random_state=1234 ,n_clusters=2)
res= km.fit(scaled_acs)   

zone_acs['cluster'] = res.labels_
#zone_acs['cluster'] = [2] + list(res.labels_)

In [345]:
zone_acs

,LocationID,race_white,transit_commute,transit_12_5,transit_60min+,hh_median_income,essential_workers,subway,bus_stop_count,cluster
0,3.0,9220,5752,198,3922,78678.545455,3205,1,0,1
1,4.0,10121,7346,158,1255,48225.166667,2906,1,0,1
2,5.0,24498,2602,28,2322,91298.500000,2364,0,0,1
3,6.0,11378,2640,36,1767,78611.000000,1490,0,0,1
4,7.0,46868,32033,676,6049,73046.652174,10137,1,0,1
...,...,...,...,...,...,...,...,...,...,...
253,259.0,10283,10235,473,6385,70306.000000,5568,1,0,0
254,260.0,18985,15002,385,2996,64765.833333,6166,1,0,0
255,261.0,3110,1903,30,175,171173.000000,366,1,0,0
256,262.0,28931,13515,114,1176,113722.000000,3052,0,0,0
257,263.0,34746,20104,45,1643,116937.800000,4079,1,2,0

In [346]:
ACS_clusters = zone_acs.iloc[:,1:].groupby('cluster').mean()

In [347]:
ACS_clusters

,race_white,transit_commute,transit_12_5,transit_60min+,hh_median_income,essential_workers,subway,bus_stop_count
cluster,,,,,,,,
0,14220.325758,8328.719697,215.318182,2934.977273,79010.909058,3682.810606,0.848485,0.272727
1,13651.857143,9303.293651,256.444444,3444.333333,70193.322153,4303.587302,0.825397,0.396825

In [348]:
zone_acs.to_csv('ACS_taxizone_cluster.csv', index=False)